.productContainer {
    display: flex;
    padding-top: 20px;
  }

.thumbnailSpace {
    height: 150px;
    width: 150px
  }

.productThumbnail {
    max-height: 150px;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.productDataBox {
    padding-left: 20px
  }

.shippingIcon {
    padding-left: 10px
  }