.containerClass {
  background-color: #fee600;
}

.inputSearch {
  width: 700px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid transparent;
  outline: none;
}

.inputButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
}

.displaySearchBar {
  display: inline-flex !important;
  padding-left: 13vh !important;
  align-items: center !important;
}
